body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;

    .f-layer {

        background: linear-gradient(rgb(199, 198, 198) 20%, whitesmoke 80%);
        height: 100vh;
        width: 20%;
        z-index: -1;
        position: fixed;
        top: 0;

    }

    nav {

        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        img {

            height: 40px;
            width: 40px;
            margin-left: 2%;

        }

        ul {

            display: flex;
            justify-content: space-evenly;
            width: 20%;

            li {

                list-style-type: none;

                a {

                    img {

                        height: 20px;
                        width: 20px;

                    }

                }

            }

        }

    }

    main {

        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .heading {

            background-color: rgb(196, 193, 193);
            width: 70%;
            height: 150px;
            text-align: center;
            border-radius: 40px;
            align-content: center;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 17px;
            padding: 10px;

        }

        .tabs {

            width: 80%;
            display: flex;
            justify-content: space-around;
            
            div {

                background-color: white;
                border-radius: 20px;
                padding: 15px;
                box-shadow: 0px 0px 10px -4px black;

            }

        }

        .container {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            .f-card {

                background-image: url("./assets/cappucino.webp");
                background-position: center;
                background-size: cover;
                height: 300px;
                width: 200px;
                position: relative;

                .price , .add-to-chart {

                    position: absolute;
                    top: 90%;
                    left: 40%;

                }

            }

            .s-card {

                background-image: url("./assets/coffee2.jpg");
                background-position: center;
                background-size: cover;
                height: 300px;
                width: 200px;

            }

        }

    }

}