body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;

    .f-layer {

        background: linear-gradient(rgb(199, 198, 198) 20%, whitesmoke 80%);
        height: 100vh;
        width: 20%;
        z-index: -1;
        position: fixed;
        top: 0;

    }

    nav {

        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        img {

            height: 40px;
            width: 40px;
            margin-left: 2%;

        }

        ul {

            display: flex;
            justify-content: space-evenly;
            width: 20%;

            li {

                list-style-type: none;

                a {

                    img {

                        height: 20px;
                        width: 20px;

                    }

                }

            }

        }

    }

}